@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "variables";
@import "reset";

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
}

.container {
  display: flex;
}


//ripple
.ripple {
  position: absolute;
  background: #FFFFFF;
  opacity: 25%;
  transform: scale(0);
  border-radius: 50%;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
