@import "fonts";
@import "variables";
@import "reset";

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
}


//ripple
.ripple {
  position: absolute;
  background: #FFFFFF;
  opacity: 25%;
  transform: scale(0);
  border-radius: 50%;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
