.container {
  position: relative;
}

.input {
  position: relative;
  width: 100%;
  padding: 14px 14px 13px;
  border: 2px solid var(--grey);
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
  outline: none;

  &:focus {
    border: 2px solid var(--blueMain);
  }

  &::placeholder {
    opacity: 0;
    color: #797979
  }

  &:disabled {
    background: #FBFBFC;
  }

  &Error {
    border: 2px solid var(--error);
  }

  &Password {
    padding-right: 34px;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 14px;
  pointer-events: none;
  transform: translate(0, -50%) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
}

.container:focus-within .label {
  top: 0;
  transform: translate(0, -6px) scale(0.9);
  color: var(--blueMain);
  background: var(--white);
}

.labelTop {
  top: 0;
  transform: translate(0, -6px) scale(0.9);
  color: var(--grey);
  background: var(--white);

  &Error {
    color: var(--error);
  }
}

.eye {
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);

  svg {
    stroke: var(--grey);
  }
}

.error {
  color: var(--error);
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
}


//search
.search {
  border: 2px solid var(--light-grey);
  background: var(--light-grey);
  padding-left: 12px;
  transition: padding-left 0.3s ease-in-out;

  &:focus {
    background: var(--white);
    padding-left: 36px;

    & + .searchIcon {
      opacity: 1;
    }
  }

  &::placeholder {
    opacity: 1;
  }

  &Fixed {
    padding-left: 36px;

    & + .searchIcon {
      opacity: 1;
    }
  }
}

.searchIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  svg {
    fill: #797979;
  }
}

